$primary: #3B3A48;
$background: #EDF1F7;
$white: #fff;
$black: #000;
$btn-color: #00B6F8;

$gradient: linear-gradient(223.45deg, #00B6F8 15.38%, #03D4F9 86.59%);
$shadow: 0px 0px 4px #01C4F8;
$btn-radius: 3.6rem;
$sidebar-width: 36.6rem;
$line-height-text: 1.907rem;

$tablet-lg-2: 1200px;
$tablet-lg: 1116px;
$tablet-sm: 992px;
$mobile: 768px;
$mobile-sm: 420px;



