@import "mixins";
@import "vars";
@import "fonts";
@import "vendor/reset";
// @import "vendor/swiper-slider";
// @import "../../../node_modules/swiper/swiper-bundle.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  // min-width: 32rem;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: $primary;

  overflow-x: hidden;
}

.border {
  border: 1px solid red;
}

.mb-8 {
  margin-bottom: 8rem;
}


@import "blocks/page";
@import "blocks/header";
@import "blocks/burger";
@import "blocks/container";
@import "blocks/logo";
@import "blocks/phone";
@import "blocks/advantages";
@import "blocks/btn";
@import "blocks/sidebar";
@import "blocks/nav";
@import "blocks/content";
@import "blocks/main";
@import "blocks/category";
@import "blocks/gift";
@import "blocks/instruction";
@import "blocks/seo";
@import "blocks/map";
@import "blocks/select";
@import "blocks/info";
@import "blocks/slider";
@import "vendor/swiper";
@import "blocks/cards";
@import "blocks/footer";