// .cards {
//   overflow: hidden;
// }

    // .cards-slider {
    //   margin-left: -2rem;
    // }

.cards-slider__slide {
  display: flex;
  height: 8rem;
  width: 3.51rem;
  align-items: center;

  background: rgba(231, 231, 231, .5);

  color: $primary;

  line-height: $line-height-text;


  // &:last-child {
  //   margin-right: 1rem;
  // }

  &.is-active {
    background-color: $background;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

    color: $black;

    // &:first-child {
    //   margin-left: 2.6rem;
    // }
  }

  input {
    margin: 0 2.2rem;
  }
}

.cards__select-item {
  margin-bottom: 1.4rem;

  font-size: 1.2rem;
  font-weight: 400;
}