.cards-slider__slide {
  position: relative;
  padding: 0 2.3rem 0 6.3rem;

  display: flex;
  height: 8rem;
  width: 35.1rem;
  align-items: center;

  background: rgba(231, 231, 231, .5);

  color: $primary;

  line-height: $line-height-text;

  &:before {
    display: block;
    position: absolute;
    content: "";
    width: 1.8rem;
    height: 1.8rem;
    top: 50%;
    left: 2.2rem;
    border-radius: $btn-radius;

    transform: translateY(-50%);

    background: #C4C4C4;
  }

  &.is-active {
    background-color: $background;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

    color: $black;

    &:before {
      box-shadow: $shadow;

      background: $gradient;
    }
  }
}

.cards__select-text {
  margin-bottom: 1.4rem;

  font-size: 1.2rem;
  font-weight: 400;
}

.cards__select-list {

  &:hover {
    .cards__select-sublist {
      display: block;
    }

    .btn--cards {
      &:after {
        transform: rotate(-180deg);
      }
    }

  }
}

.cards__select-sublist {
  display: none;
  position: absolute;
}