// .cards {
//   overflow: hidden;
// }

// .cards-slider {
//   margin-left: -2rem;
// }

.cards-slider__slide {
  position: relative;
  padding-left: 6.3rem;

  display: flex;
  height: 8rem;
  width: 35.1rem;
  align-items: center;

  background: rgba(231, 231, 231, .5);

  color: $primary;

  line-height: $line-height-text;

  &:before {
    display: block;
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    top: 10px;
    left: 0;
    border-radius: $btn-radius;

    // background: #C4C4C4;
    background-color: $black;
  }

  // span {
  //   width: 1.8rem;
  //   height: 1.8rem;
  //   border-radius: $btn-radius;

  //   background: #C4C4C4;
  // }



  &.is-active {
    background-color: $background;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

    color: $black;


    // span {
    //   // display: block;
    //   margin: 0 2.2rem;

    //   background: $gradient;
    //   box-shadow: $shadow;
    //   border-radius: $btn-radius;
    // }
  }

}

.cards__select-text {
  margin-bottom: 1.4rem;

  font-size: 1.2rem;
  font-weight: 400;
}

.cards__select-list {

  &:hover {
    .cards__select-sublist {
      display: block;
    }
  }
}

.cards__select-sublist {
  display: none;
  position: absolute;

  transition: all 1s;
}

// .cards__select-item {
//   margin-bottom: 1rem;
// }