.category__intro {
  display: flex;
  margin-bottom: 8.3rem;

  @media (max-width: $tablet) {
    justify-content: center;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
    align-items: center;
  }
}

.category__intro-item {
  display: flex;
  margin-right: 6.2rem;
  align-items: center;

  img {
    margin-right: 2.8rem;

    @media (max-width: $tablet) {
      width: 5.4rem;
      height: 5.4rem;
    }
  }

  @media (max-width: $mobile) {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.category__intro-text {
  width: 11rem;

  font-size: 14px;
  font-weight: 400;
  line-height: $line-height-text;

  span {
    font-weight: 700;
  }
}

.category__items,
.category__item--cards {
  display: none;
  flex-direction: column;

  &.is-active {
    display: flex;
  }
}

.category__items {

  &--visible {
    display: flex;
  }
  
  @media (max-width: $mobile) {
    align-items: center;
  }
}

.category__item {
  display: flex;
  margin-bottom: 8rem;
  // justify-content: center;

  &:nth-child(1) {
    order: 0;
  }

  &:nth-child(2) {
    order: 1;
  }

  &:nth-child(3) {
    order: 2;
  }

  &:nth-child(4) {
    order: 3;
  }

  &:nth-child(5) {
    order: 4;
  }

  &:nth-child(6) {
    order: 5;
  }

  &:nth-child(7) {
    order: 6;
  }

  &--cards {
    display: none;
    flex-direction: row;
  }

  @media (max-width: $tablet) {
    margin-bottom: 4rem;
  } 

  @media (max-width: $mobile) {
    flex-direction: column;
  }

}

.category__item-image {
  position: relative;
  flex-shrink: 0;

  &--nbefore {
    &:before {
      display: none;
    }
  }

  &:before {
    position: absolute;
    content: "";
    width: 139px;
    height: 51px;
    top: 3.9rem;
    background: $white;

    border-radius: 0px 30px 30px 0px;
  }

  img {
    display: block;
    height: 100%;
    width: 100%;
    // height: auto;
    max-width: 45.2rem;
  }

}

.category__item-subtext {
  position: absolute;
  content: "";
  font-size: 14px;
  left: 13px;
  top: 5.9rem;
}

.category__item-subtext {
  position: absolute;
}

.category__item-box {
  padding: 4rem;
  max-width: 45.2rem;
  width: 100%;

  background: $background;

  z-index: 0;
}

.category__title {
  font-size: 18px;
  line-height: 2.3rem;
}

.category__item-list {
  margin: 2rem 0 3rem;
}

.category__item-row {
  margin-bottom: 1.9rem;
  display: flex;
  align-items: center;

  img {
    margin-right: 1.2rem;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: $line-height-text;
  }
}

.category__item-bottom {
  position: relative;
}

.category__item-price {
  position: absolute;
  padding: 0 10rem 0 2.4rem;

  line-height: 5.2rem;

  font-size: 16px;
  font-weight: 800;

  background: $white;
  border-radius: $btn-radius;
}