.content {
  display: flex;
  justify-content: space-between;
}

.content__title {
  padding-top: 2rem;
  margin-bottom: 5rem;

  font-size: 3.2rem;
  font-weight: 800;
  letter-spacing: -.2px;

  @media (max-width: $tablet) {
    text-align: center;
    font-size: 2.5rem;
  }

}