.gift {
  margin-bottom: 8rem;
  order: 4;
}

.gift__content {
  display: flex;
  justify-content: space-between;
}

.gift__column-left {
  flex-basis: 50%;

  background-color: $background;
}

.gift__preview-inner {
  position: relative;

  img {
    display: block;
    margin-top: 4.8rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3.4rem 3.4rem 0;

    background: $white;
  }
}

.gift__preview-text {
  position: absolute;
  padding: 3rem 1rem 0;
  width: 16rem;

  top: 33%;
  right: 50%;
  transform: translateX(50%);

  font-size: 9px;
  font-weight: 400;
  line-height: 12px;
  background-color: $white;
}

.gift__desc {
  padding: 2rem 4.8rem 2rem;

  &--left {
    color: $black;
  }
}

.gift__title {
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
  line-height: $line-height-text;
}

.gift__text {
  padding-right: 5.8rem;

  font-size: 1.4rem;
  line-height: $line-height-text;
  font-weight: 400;
}

.gift__column-right {

  flex-basis: 50%;

  img {
    padding: 0;
  }
}