.header {
  margin-bottom: 8rem;

  @media (max-width: $tablet) {
    margin-bottom: 3rem;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem 9.3rem 6rem;

  background-color: $background;
}

.header__content {
  display: flex;
  padding-left: 18rem;
  position: relative;
  background-color: $background;

  @media (max-width: $tablet) {
    display: block;
    padding-left: 0;
  }
}

.header__menu {

  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.header__title {
  margin-bottom: 4.5rem;
  max-width: 61rem;

  font-size: 3.2rem;
  letter-spacing: -.4px;
  line-height: 4.2rem;

  @media (max-width: $tablet) {
    text-align: center;
  }
}

.header__img {
  position: absolute;
  right: 0;
  top: 0;

  // max-width: 100%;
  // height: auto;

  @media (max-width: $desktop-sm) {
    max-width: 50%;
    top: 3rem;
  }

  @media (max-width: $tablet) {
    display: none;
  }

}