.header {
  margin-bottom: 8rem;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem 9.3rem 6rem;
  
  background-color: $background;
}

.header__content {
  padding-left: 18rem;
  position: relative;

  background-color: $background;
}

.header__title {
  margin-bottom: 4.5rem;
  max-width: 61rem;

  font-size: 3.2rem;
  letter-spacing: -.4px;
  line-height: 4.2rem;
}

.header__img {
  position: absolute;
  right: 0;
  top: 0;
}