.instruction {
  margin-bottom: 8rem;
  order: 1;

  @media (max-width: $tablet-sm)  {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
  }

}

.instruction__items {
  display: flex;
  padding: 4rem 0 4.7rem;
  
  background-color: $background;

  
  &:hover {
    
    .instruction__item {
      transform: scale(1.02);
    }
  }

  @media (max-width: $mobile) {
    flex-wrap: wrap;
  } 


}

.instruction__item {

  text-align: center;
  
  transition: transform .2s linear;
  
  img {
    margin-bottom: 2.6rem;
  }

  p {
    display: inline-block;
    width: 17rem;

    font-size: 1.4rem;
    font-weight: 400;
    line-height: $line-height-text;
  }

  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem;
    margin: 0 auto;

    // &:last-child {
    //   width: 100%;
    // }
  }

}