.logo {
  display: flex;
  padding-top: 3.8rem;
  align-items: center;

  @media (max-width: $mobile) {
    margin: 0 auto;
  }
}
.logo__link {
  display: block;
  margin-right: 1.2rem;
}

.logo__text {
  font-weight: 400;
}