.map {
  position: relative;
  margin-bottom: 5rem;
  overflow: hidden;

  img {
    width: 100%;
  }

  img:nth-child(2) {
    display: none;
  }

  span {
    position: absolute;
    width: 3.8rem;
    height: 3.8rem;
    top: 27%;
    left: 46%;

  }

}

.map__text {
    position: absolute;
    width: 100%;
    min-height: 5.3rem;
    bottom: 0;

    font-size: 14px;
    font-weight: 400;
    background: #fff;
    opacity: 0.8;
    text-align: right;

    p {
      display: inline-block;
      max-width: 31rem;
      padding-right: 1.2rem;
      padding-top: .3rem;

      line-height: $line-height-text;
    }
}