.nav {
  position: sticky;
  top: 0;
}

.nav__item {
  padding-left: 12.3rem;

  cursor: pointer;

  font-size: 1.8rem;
  font-weight: 700;
  line-height: 8rem;

  a {
    display: block;
  }

  p,
  a {
    transition: transform .2s linear;
  }


  &:hover {

    p,
    a {
      transform: scale(1.02);
    }
  }

  &.is-active {
    background-color: $background;
  }
}