.nav {
  position: sticky;
  top: 0;
}

.nav__item {
  padding-left: 12.3rem;

  cursor: pointer;

  font-size: 1.8rem;
  font-weight: 700;
  line-height: 8rem;

  transition: all .4s ease;

  &.is-active {
    background-color: $background;
  }

  &:hover {
    background-color: $background;
  }

}