<footer class="footer">
  <div class="container">

    <div class="footer__content">
      <div class="logo">
        <a class="logo__link" href="#">
          <img src="assets/images/logo.png" alt="logo">
        </a>
        <div class="logo__text">сервис-дескриптор</div>
      </div>
      <div class="phone">
        <img src="../assets/images/svg/dots.svg" alt="">
        <a class="phone__num" href="tel:77777777777">+7(777) 777-77-77</a>
        <p class="phone__text">Есть вопросы? Звоните!</p>
      </div>
    </div><!-- /.footer__content -->
  </div>
</footer>
