<header class="header">

  <div class="container">

    <div class="header__top">
      <div class="logo">
        <a class="logo__link" href="#">
          <img src="assets/images/logo.png" alt="logo">
        </a>
        <div class="logo__text">сервис-дескриптор</div>
      </div>
      <div class="phone">
        <img src="../assets/images/svg/dots.svg" alt="">
        <a class="phone__num" href="tel:77777777777">+7(777) 777-77-77</a>
        <p class="phone__text">Есть вопросы? Звоните!</p>
      </div>



    </div><!-- /.header__top -->

    <!-- <nav class="nav nav--mobile">
      <ul class="nav__list">
        <li class="nav__item is-active">
          <p>Квадроциклы</p>
        </li>
        <li class="nav__item header__item">
          <p>Снегоходы</p>
        </li>
        <li class="nav__item header__item">
          <p>Картинги</p>
        </li>
        <li class="nav__item header__item">
          <p>Лошади</p>
        </li>
        <li class="nav__item header__item">
          <p>Вид услуги</p>
        </li>
        <li class="nav__item header__item">
          <p>Вид услуги</p>
        </li>
      </ul>
    </nav> -->

    <div class="header__content">
      <div class="header__menu">
        <h1 class="header__title">Закажите катание на квадроциклах прямо сейчас</h1>
        <ul class="advantages">
          <li class="advantages__item">Более 50 маршрутов в Москве</li>
          <li class="advantages__item">более 50 видов техники</li>
          <li class="advantages__item">в 5-ти локациях в Москве</li>
        </ul>
        <a class="btn btn--header" href="index.html">
          <span></span>
          Перейти в каталог</a>
        <ul class="advantages__bottom">
          <li class="advantages__bottom-item">Работаем более <span>5 лет</span></li>
          <li class="advantages__bottom-item"><span>Безопасное</span> онлайн бронирование</li>
          <li class="advantages__bottom-item">Работаем более <span>5 лет</span></li>
        </ul>
      </div>

      <img class="header__img" src="assets/images/kvadro.png" alt="Квадроцикл">

    </div><!-- /.header__content -->

  </div><!-- /.container -->

</header>