<header class="header">

  <div class="container">

    <div class="header__top">
      <div class="logo">
        <a class="logo__link" href="#">
          <img src="assets/images/logo.png" alt="logo">
        </a>
        <div class="logo__text">сервис-дескриптор</div>
      </div>
      <div class="phone">
        <img src="../assets/images/svg/dots.svg" alt="">
        <a class="phone__num" href="tel:77777777777">+7(777) 777-77-77</a>
        <p class="phone__text">Есть вопросы? Звоните!</p>
      </div>

      <!-- Бургер -->

      <!-- <button class="burger" type="button" id="burger">
        <span>Бургер</span>
      </button>

      <nav class="nav burger__menu">
        <ul class="nav__list">
          <li class="nav__item is-active">
            <p>Квадроциклы</p>
          </li>
          <li class="nav__item header__item">
            <p>Снегоходы</p>
          </li>
          <li class="nav__item header__item">
            <p>Картинги</p>
          </li>
          <li class="nav__item header__item">
            <p>Лошади</p>
          </li>
          <li class="nav__item header__item">
            <p>Вид услуги</p>
          </li>
          <li class="nav__item header__item">
            <p>Вид услуги</p>
          </li>
        </ul>
      </nav> -->

      <!-- ./ Бургер -->

    </div><!-- /.header__top -->

    <div class="header__content">
      <div class="header__menu">
        <h1 class="header__title">Название маршрута “Топовый в своём роде маршрут”</h1>
        <ul class="advantages">
          <li class="advantages__item">Длина маршрута: 20 км</li>
          <li class="advantages__item">Время маршрута: 1 час</li>
          <li class="advantages__item">Цены от 3 500 рублей </li>
          <li class="advantages__item">Прокат квадроциклов Щедрино</li>
        </ul>
        <a class="btn btn--header" href="index.html">
          <span></span>Подробнее о маршруте</a>
        <ul class="advantages__bottom">
          <li class="advantages__bottom-item">Работаем более <span>5 лет</span></li>
          <li class="advantages__bottom-item"><span>Безопасное</span> онлайн бронирование</li>
          <li class="advantages__bottom-item">Работаем более <span>5 лет</span></li>
        </ul>
      </div>
      <img class="header__img" src="assets/images/kvadro.png" alt="Квадрацикл">

    </div><!-- /.header__content -->

  </div><!-- /.container -->

</header>