<aside class="sidebar">
  <nav class="nav">
    <ul class="nav__list nav__list--rout">
      <li class="nav__item is-active"><a href="#about-rout">О маршруте</a> </li>
      <li class="nav__item"><a href="#map">Наш адрес</a> </li>
      <li class="nav__item"><a href="#select-item">Выберите квадроцикл</a> </li>
      <li class="nav__item"><a href="#howto">Программа маршрута</a></li>
      <li class="nav__item"><a href="#slider-photo">Фотографии катаний</a> </li>
      <li class="nav__item"><a href="#info__other">Что ещё важно знать?</a> </li>
      <li class="nav__item"><a href="#faq">Ответы на вопросы</a> </li>
      <li class="nav__item"><a href="index.html">< Смотреть другие виды катаний</a></li>
    </ul>
  </nav>
</aside>