<aside class="sidebar">
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item is-active">
        <p>Квадроциклы</p>
      </li>
      <li class="nav__item">
        <p>Снегоходы</p>
      </li>
      <li class="nav__item">
        <p>Картинги</p>
      </li>
      <li class="nav__item">
        <p>Лошади</p>
      </li>
      <li class="nav__item">
        <p>Вид услуги</p>
      </li>
      <li class="nav__item">
        <p>Вид услуги</p>
      </li>
    </ul>
  </nav>
</aside>