<aside class="sidebar">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link active" href="#">Квадроциклы</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Снегоходы</a></li>
        <li class="nav__item"><a class="nav__link active" href="#">Картинги</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Лошади</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Вид услуги</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Вид услуги</a></li>
      </ul>
    </nav>
</aside>